body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-53xl: 72px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-31xl: 50px;
  --font-size-7xl: 26px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-lightgray: #cfcfcf;
  --color-darkslategray: #3a3a3a;
  --color-tomato: #ef4e4a;

  /* Gaps */
  --gap-7xs: 6px;

  /* Paddings */
  --padding-base: 16px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-25xl: 44px;
}
